@model ASP_P22.Data.Entities.Rate

<div class="card border-secondary mb-3" >
    <div class="card-header">@Model.User.Name</div>
    <div class="card-body text-secondary">
        <h5 class="card-title">@Model.Moment.ToString("MMM d, yyyy")</h5>
        <p class="card-text">@Model.Comment</p>
    </div>
</div>
