@{
    ViewData["Title"] = "Домашня";
}

<div class="text-center">
    <h1 class="display-4">Розробка з використаннямм ASP.NET Core</h1>
</div>

<h2>Зміст</h2>

<h3><a href="/Home/Intro">Вступ</a></h3>

<h3><a href="/Home/Razor">Razor</a></h3>
