@{
    ViewData["Title"] = "Вступ";
}

<div class="text-center">
    <h1 class="display-4">Вступ до ASP</h1>    
</div>

<p>
    ASP (Active Server Pages) - технологія створення веб-застосунків
    з активною серверною частиною. Існує у формі різних шаблонів проєктів,
    зокрема, MVC (Model-View-Controller)
</p>
<p>
    Особливістю ASP MVC Core є те, що ресурси проєкту зв'язуються між собою
    за іменами. Наприклад, запит /Home/Privacy призводить до того, що 
</p>
<ul>
    <li>Здійснюється пошук класу [Home]Controller (де Home - перша складова запиту)</li>
    <li>У знайденому класі шукається метод Privacy() (Privacy - друга частина запиту)</li>
    <li>Для відображення шукається файл Views/Home/Privacy.cshtml (також за складовими запиту)</li>
    <li>Знайдені дані підставляються до шаблону _Layout.cshtml (замість RenderBody)</li>
</ul>
